@namespace BootstrapBlazor.Components
@using FreeSql.Internal.Model
@typeparam TItem where TItem : class, new()
@typeparam TKey

<div class="input-group">
    @if (ItemChanged.HasDelegate)
    {
        if (Item == null)
        {
            <input value="" class="form-control disabled">
        }
        else
        {
            <input value="@DisplayText(Item)" class="form-control disabled">
        }
    }
    else if (ItemsChanged.HasDelegate)
    {
        if (Items == null)
        {
            <input value="" class="form-control disabled">
        }
        else
        {
            <input value="@string.Join(",", Items.Select(a => DisplayText(a)))" class="form-control disabled">
        }
    } 
    else if (ValueChanged.HasDelegate)
    {
        <input @oninput="async e => await ValueChanged.InvokeAsync(e.Value.ConvertTo<TKey>())" @bind="@Value" class="form-control disabled">
    }
    <button type="button" class="btn btn-primary" @onclick="OpenModal" role="button" aria-disabled="false">选择</button>
</div>

<AdminModal Visible="showModal" ClientId="@ClientId" DialogClassName="modal-lg modal-height0" Title="@ModalTitle" OnClose="OnClose">
    @if (showModal)
    {
        if (TableTd1 != null && TableRow != null)
        {
            <AdminTable2 TItem="TItem" PageSize="PageSize" Context="item2"
                IsAdd="false" IsEdit="false" IsRemove="false" IsSearchText="IsSearchText" IsQueryString="false" IsSingleSelect="ItemChanged.HasDelegate || ValueChanged.HasDelegate"
                OnSelectChanged="OnSelectChanged" OnQuery="OnQuery">
                <TableTh1>@TableTh1</TableTh1>
                <TableTd1>@TableTd1(item2)</TableTd1>
                <TableHeader>@TableHeader</TableHeader>
                <TableRow>@TableRow?.Invoke(item2)</TableRow>
            </AdminTable2>
        }
        else if (TableTd1 != null)
        {
            @* 只有 Td1 时生成一行四列的 Table *@
            <AdminTable2 TItem="TItem" PageSize="PageSize" Context="item2"
                IsAdd="false" IsEdit="false" IsRemove="false" IsSearchText="IsSearchText" IsQueryString="false" IsSingleSelect="ItemChanged.HasDelegate || ValueChanged.HasDelegate"
                OnSelectChanged="OnSelectChanged" OnQuery="OnQuery">
                <TableTh1>@TableTh1</TableTh1>
                <TableTd1>@TableTd1(item2)</TableTd1>
            </AdminTable2>
        }
        else if (TableRow != null)
        {
            <AdminTable2 TItem="TItem" PageSize="PageSize" Context="item2"
                IsAdd="false" IsEdit="false" IsRemove="false" IsSearchText="IsSearchText" IsQueryString="false" IsSingleSelect="ItemChanged.HasDelegate || ValueChanged.HasDelegate"
                OnSelectChanged="OnSelectChanged" OnQuery="OnQuery">
                <TableHeader>@TableHeader</TableHeader>
                <TableRow>@TableRow?.Invoke(item2)</TableRow>
            </AdminTable2>
        }

        var selectedCount = ItemsChanged.HasDelegate ? allItems.Values.Where(a => a.Selected).Count() : (currentItems?.Where(a => a.Selected).Count() ?? 0);
        <div class="modal-footer">
            @if (selectedCount > 0)
            {
                <button @onclick="e => { foreach (var item in allItems.Values) item.Selected = false; }" type="button" class="ml-2 btn btn-light"><i class="far fa-square"></i> 重置</button>
                <button @onclick="Finish" type="button" class="ml-2 btn btn-success"><i class="fas fa-plus"></i> 确认选择 @selectedCount 项</button>
            }
            else
            {
                <button type="button" class="ml-2 btn btn-light disabled"><i class="far fa-square"></i> 重置</button>
                <button type="button" class="ml-2 btn btn-success disabled"><i class="fas fa-plus"></i> 确认选择 @selectedCount 项</button>
            }
        </div>
    }
</AdminModal>
